<h1>All Routines</h1>

# Users can see all routines created. but can not edit unless its their own
# add name of user that routine belongs to


<%= form_tag('/routines', method: "get") do %>
  <%= label_tag(:season, "Season") %>
  <%= select_tag(:season, options_for_select([ "Winter", "Summer"])) %>
  <%= submit_tag("Search") %>
  



<% end %>