<h1> All Products </h1>



<% @products.all.each do |product| %>
   <p> <%= product.name%></p>
    

<% end %>



<div>
<h1> <%= current_user.username%>'s Products</h1>


<%current_user.products.each do |product| %>
    <%=product.name%>
    <br>
    <%=product.content %><br><br>
</div>

<% end %>